<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="NoFences.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
    <System.Windows.Forms.ApplicationConfigurationSection>
        <add key="DpiAwareness" value="PerMonitorV2"/>
    </System.Windows.Forms.ApplicationConfigurationSection>
    <userSettings>
        <NoFences.Properties.Settings>
            <setting name="hide_desktop_icons" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="opacity" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="show_container_folder" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="title_size" serializeAs="String">
                <value>35</value>
            </setting>
            <setting name="snapping" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="autoMinify" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="snapSize" serializeAs="String">
                <value>30</value>
            </setting>
            <setting name="headerColor" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="headerAlpha" serializeAs="String">
                <value>50</value>
            </setting>
            <setting name="windowColor" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="overallOpacity" serializeAs="String">
                <value>0.8</value>
            </setting>
        </NoFences.Properties.Settings>
    </userSettings>
</configuration>
